{% extends 'base.html.twig' %}

{% block title %}Room #{{ room.id }}{% endblock %}

{% block body %}
    <ul>
        <li>Résumé: {{ room.summary }}</li>
        <li>Description: {{ room.description }}</li>
        <li>Capacité: {{ room.capacity }}</li>
        <li>Superficie: {{ room.superficy }}</li>
        <li>Prix: {{ room.price }}</li>
        <li>Adresse: {{ room.address }}</li>
    </ul>

    <a href="{{ path('room_edit', {id: room.id}) }}">Modifier</a>
{% endblock %}

